<br>
<br>
<h1 style="text-align: center">Sprint 0</h1>
<div id="container">
  <div class="column-list">
    <div class="margin-sides">
      <p>Login/Register</p>
      <button class="btn btn-primary" type="button" id="login" data-toggle="modal" data-target="#loginUser">Login</button>
      <button class="btn btn-primary" type="button" id="register" data-toggle="modal" data-target="#registerUser">Register</button>
    </div>  
  </div>
</div>


<div class="modal fade" id="registerUser" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userLabel">New account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="newUserForm">
          <div class="form-group">
            <div class="example-container">
              <input type="text" id="userUsername" formControlName="username" placeholder="Username" [(ngModel)]="username"/>
            </div>
            <div class="example-container">
              <input type="password" id="userPassword" formControlName="password" placeholder="Password" [(ngModel)]="password"/>
            </div>
          </div>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.username">
              <div class="alert alert-danger" *ngIf="newUserForm.get('username').hasError(validation.type)">
                {{ validation.message }}
              </div>
            </ng-container>
            <ng-container *ngFor="let validation of validation_messages.password">
              <div class="alert alert-danger" *ngIf="newUserForm.get('password').hasError(validation.type)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="!newUserForm.valid" (click)="addUser()" data-dismiss="modal">Create your account</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="loginUser" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="studentLabel">Existing account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="loginUserForm">
          <div class="form-group">
            <div class="example-container">
              <input type="text" id="userUsername" formControlName="username" placeholder="Username" [(ngModel)]="username"/>
            </div>
            <div class="example-container">
              <input type="password" id="userPassword" formControlName="password" placeholder="Password" [(ngModel)]="password"/>
            </div>
          </div>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.username">
              <div class="alert alert-danger" *ngIf="loginUserForm.get('username').hasError(validation.type)">
                {{ validation.message }}
              </div>
            </ng-container>
            <ng-container *ngFor="let validation of validation_messages.password">
              <div class="alert alert-danger" *ngIf="loginUserForm.get('password').hasError(validation.type)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="mat-button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="mat-button" class="btn btn-primary" [disabled]="!loginUserForm.valid" (click)="registerUser()" data-dismiss="modal">Log in into your account</button>
      </div>
    </div>
  </div>
</div>